/* Form styles */
#contact form input[type=text],
#contact form input[type=email],
#contact form input[type=tel],
#contact form textarea {
  background-color: #f5f5f5;
  border: none;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
}

#contact form input[type=submit] {
  background-color: #6c757d;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  width: 100%;
}

#contact form input[type=submit]:hover {
  background-color: #343a40;
  cursor: pointer;
}

/* Contact info styles */
.contact-item {
  margin-bottom: 20px;
}

.contact-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-item p {
  font-size: 18px;
  margin-bottom: 0;
}

.contact-item p span {
  display: inline-block;
  margin-right: 10px;
}

.contact-item p span i {
  margin-right: 5px;
}

/* Social media styles */
.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social ul li {
  margin: 0 10px;
}

.social ul li a {
  font-size: 24px;
  color: #6c757d;
}

.social ul li a:hover {
  color: #343a40;
}